<ol class="breadcrumb">
	<li class="breadcrumb-item active">Usuário</li>
	<li class="breadcrumb-item active">Meu perfil</li>
	<li class="breadcrumb-item active">Alterar senha</li>
</ol>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Meu perfil</h4>
				<div class="card-subtitle mb-2 text-muted">É recomendada que a senha seja alterada a cada nova atualização do sistema.</div>
			</div>
			<div class="content">

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Senha atual</label>
							<input type="password" class="form-control inputASenhaAtual" placeholder="&bull;&bull;&bull;&bull;&bull;">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Nova senha</label>
							<input type="password" class="form-control inputANovaSenha" placeholder="&bull;&bull;&bull;&bull;&bull;">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Repita a nova senha</label>
							<input type="password" class="form-control inputANovaSenhaRepetida" placeholder="&bull;&bull;&bull;&bull;&bull;">
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-info btn-fill pull-right btnAlterarSenha">Alterar senha</button>
				<div class="clearfix"></div>
			
			</div>
		</div>
	</div>

</div>

<script src="assets/js/ctrl/alterarSenha.js" type="text/javascript"></script>