<script src="assets/js/ctrl/chamadas.js" type="text/javascript"></script>
<ol class="breadcrumb">
	<li class="breadcrumb-item active">Gerência</li>
	<li class="breadcrumb-item active">Gerenciar chamadas</li>
</ol>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gerenciar chamadas</h4>
				<!-- <div class="card-subtitle mb-2 text-muted">A chamada deve ser feita no dia em que ocorrer a reunião, portanto é necessário que seja salvo uma referência de reunião à mesma para que possa ser consultada posteriormente.</div> -->
			</div>
			<div class="content">
				<ul class="little-box loadChamadas">
                    <li class="fixed btnAdicionarChamada" data-case="show">
                        <span class="currentDate"><div class="fa fa-circle-o-notch fa-spin"></div></span><br />
                        <small>Adicionar agora</small>
                    </li>

                    <div class="fa fa-circle-o-notch fa-spin loading"></div>
                </ul>
                </div>
			</div>
		</div>
	</div>

</div>