<ol class="breadcrumb">
  <li class="breadcrumb-item active">Gerência</li>
</ol>

<div class="row">
    <div class="col-md-3  selectorPage" data-page="adicionarUsuario_i">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-add-user"></i><br />
                <span>Adicionar usuário</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 selectorPage" data-page="gerenciarUsuarios_i">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-id"></i><br />
                <span>Gerenciar usuários</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 selectorPage" data-page="chamadas_i">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-note2"></i><br />
                <span>Chamadas</span>
            </div>
        </div>
    </div>
</div>