<ol class="breadcrumb">
  <li class="breadcrumb-item active">Gerência</li>
</ol>

<div class="row">
    <div class="col-md-3" data-page="adicionarUsuario">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-add-user"></i><br />
                <span>Adicionar usuário</span>
            </div>
        </div>
    </div>

    <div class="col-md-3" data-page="gerenciarUsuarios">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-id"></i><br />
                <span>Gerenciar usuários</span>
            </div>
        </div>
    </div>

    <div class="col-md-3" data-page="chamadas">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-note2"></i><br />
                <span>Chamadas</span>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-3">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-loop"></i><br />
                <span>Gerenciar projetos</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-light"></i><br />
                <span>Gerenciar ideias</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-note2"></i><br />
                <span>Adicionar reunião</span>
            </div>
        </div>
    </div>



    <div class="col-md-3">
        <div class="card">
            <div class="content ico">
                <i class="pe-7s-bell"></i><br />
                <span>Mensagens do sistema</span>
            </div>
        </div>
    </div> -->

</div>