<script src="assets/js/ctrl/gerenciarUsuarios.js" type="text/javascript"></script>
<ol class="breadcrumb">
	<li class="breadcrumb-item active">Gerência</li>
	<li class="breadcrumb-item active">Gerenciar usuarios</li>
</ol>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gerenciar usuarios</h4>
				<!-- <div class="card-subtitle mb-2 text-muted">Aqui você pode gerenciar todos os usuários (editar ou apagá-los). Se deseja criar um novo <a data-page="adicionar_usuario">clique aqui</a>.</div> -->
			</div>
			<div class="content">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Matricula</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="tableUsuarios"></tbody>
			</table>
			</div>
		</div>
	</div>

</div>