<!-- <div class="row">
	<div class="col-md-12">
		<div class="alert alert-warning" role="alert">Reunião dia <strong>14/10/2017</strong> às <strong>12:00</strong> no local <strong>Bloco 1 Sala 1</strong> [REUNIÕES QUE IRÃO ACONTECER DENTRO DE UM INTERVALO DE 2 DIAS]</div>
	</div>

	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">Reunião dia <strong>14/10/2017</strong> às <strong>12:00</strong> no local <strong>Bloco 1 Sala 1</strong> [REUNIÕES QUE ESTÃO ACONTECENDO, AVALIAR O DIA]</div>
	</div>

	<div class="col-md-12">
		<div class="alert alert-info" role="alert">Temos que terminar a elaboração do Mockup do Edson
			<br /><small>#Victor Lucas #Edson #Jose #Joao</small> [ALERTAS PARA MEMBROS ESPECIFICOS]</div>
	</div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Início</h4>
            </div>
            <div class="content">
                
            	Bem vindo ao Sistema Administrativo para Empresas Júniors.

            </div>
        </div>
    </div>

</div>