<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content text-justify">
				<strong>Bem vindo ao JuniorPanel</strong><br />
				Este sistema foi construído com o intuíto de ajudar empresas juniores da UFC a gerenciar melhor seus membros e a presença deles em reuniões e o mesmo ainda encontra-se em fase de desenvolvimento, se você deseja contribuir deixa um <a href="https://github.com/victoorlucas/JuniorPanel/" target="_blank">Pull Request aqui</a> :)
            </div>
        </div>
    </div>

</div>